<h1>Today's World News</h1>

<table border="1" style="width:700px">
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Url</th>
      <th>Map</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= strip_tags(entry.summary) %></td>
        <td><a href = "<%= entry.url %>">Full Story</a></td>

        	<td>
        	<% entry.locations.each do |location| %>
            <iframe
               width="200"
               height="125"
               frameborder="1" style="border:0"
               src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUGXb9ZtDbM0lwnaLQCSVzh_Za48_2XgI
               &q=<%= location.city %>">  
             </iframe>
        	<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>